@CHARSET "UTF-8";

body {
    font-family : Georgia, sans-serif;
    font-size   : 14px;
}


/**
 * Grid
 */

#header {
    height                : 80px;
    padding               : 10px;
    background-color      : #333;
    color                 : white;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
}

#header #navigation {
    position : absolute;
    top      : 96px;
}

#header #navigation ul {
    height      : 22px;
    margin      : 0 0 0 130px;
    line-height : 16px;
}

#header #navigation ul li {
    float                 : left;
    display               : block;
    margin                : 0 2px;
    padding               : 3px 6px;
    color                 : black;
    background-color      : #fff;
    border                : 2px solid black;
    border-bottom-width   : 0;
    -moz-border-radius    : 5px 5px 0 0;
    -webkit-border-radius : 5px 5px 0 0;
}

#header #navigation ul li a {
    color           : black;
    text-decoration : none;
    display         : block;
}

#container {
    margin : 20px;
}

#content {
    margin : 10px;
}

#footer {
    background-color      : #eee;
    padding               : 10px;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
}


/**
 * Styles
 */

em {
    font-style : italic;
}

p {
    margin      : 6px 0;
    line-height : 150%;
}

a {
    color : black;
}

h1, h2, h3 {
    font-family : Georgia, sans-serif;
}

h1 {
    font-size : 2em;
    margin    : 20px 0 10px 0;
}

h2 {
    font-size : 1.5em;
    margin    : 10px 0 6px;
}

li {
    margin-left     : 20px;
    list-style-type : square;
}

.clear {
    clear : both;
}